.footer {
  display: flex;
  justify-content: space-between;

  align-items: center;

  border-bottom: 1px solid #d7d7d75d;

  padding: 2em;
}
@media screen and (max-width: 900px) {
  .footer {
    flex-direction: column;
  }
}
