.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em;
}

.brand {
  font-size: 1.2em;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.active {
  background-color: #000;
  color: #fff;
}
