.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  border-bottom: 1px solid #d7d7d75d;

  position: relative;
  padding: 2em;
  padding-bottom: 8em;
}

.projects h2 {
  font-family: "Lexend", sans-serif;
  font-size: 8em;
  font-weight: 500;
  color: #74747493;

  position: absolute;
  top: -118px;
  left: 0;
}

.grid {
  display: flex;

  flex-direction: column;
  gap: 2em;

  margin-top: 190px;
}

@media (max-width: 900px) {
  .projects h2 {
    font-size: 3em;
    top: -37px;
    z-index: -10;
  }

  .grid {
    margin-top: 100px;
  }
}
