.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  font-size: 18px;
  border-bottom: 1px solid #d7d7d75d;

  position: relative;
  padding: 2em;
}

.projects h2 {
  font-family: "Lexend", sans-serif;
  font-size: 8em;
  font-weight: 500;
  color: #74747493;

  position: absolute;
  top: -100px;
  left: 0;
  z-index: -20;
}

.grid {
  display: flex;

  flex-direction: column;
  gap: 2em;

  margin-top: 156px;
}

.grid_card {
  background-color: rgba(86, 86, 86, 0.622);
  border: 3px solid #ffd43b;
  border-radius: 20px;
  padding: 1em;

  width: 70vw;

  display: flex;
  justify-content: space-around;
}

.grid_card .image_card {
  border-radius: 18px 0;
}
