@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600&display=swap");

body {
  color: #fff;
  /* background-color: #282a36; */
  background-image: linear-gradient(
    to right bottom,
    #858585,
    #737375,
    #616166,
    #4f5057,
    #3e3f49,
    #373843,
    #2f313c,
    #282a36,
    #282a36,
    #282a36,
    #282a36,
    #282a36
  );

  font-family: "Lexend", sans-serif;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  background-color: transparent;
  border: none;
  transition: 0.4s;
  font-size: 1em;
  cursor: pointer;
  color: #bbb;
}

a:hover {
  color: #858585;
}

.links_list {
  display: flex;
  list-style: none;
}

.links_list {
  margin-right: 1em;
}

.links_list li a {
  padding: 0.4em 0.6em;
}

.buttons {
  margin: 10px 0;
}

.buttons .btn1 {
  margin-right: 25px;
}

.btn {
  background-color: none;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  width: 120px;
  font-weight: lighter;
  border: 1px solid #ffd43b;
  padding: 10px 15px;
  font-size: 1em;
}

.btn:hover {
  background-color: #858585;
  color: #fff;
  cursor: pointer;
}
