.skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  border-bottom: 1px solid #d7d7d75d;

  position: relative;
  padding: 2em;

  height: 60vh;
}

.skills .titleSection {
  display: flex;
  position: absolute;
  top: 178px;
  right: 43px;
  align-items: flex-end;
  flex-direction: column-reverse;
}

.titleSection h2 {
  font-family: "Lexend", sans-serif;
  font-size: 8em;
  font-weight: 500;
  color: #74747493;

  position: absolute;
  z-index: -10;
  margin: 0;
}

.skills p {
  font-weight: 200;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* SKILLS */
.techs {
  display: flex;
  justify-content: center;
  gap: 160px;
}

.techs > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  font-weight: 200;
  color: #bbb;
}

@media screen and (max-width: 900px) {
  .skills {
    height: 70vh;
  }

  .skills .titleSection {
    top: 74px;
    right: 6px;
  }

  .titleSection h2 {
    font-size: 3em;
  }

  .techs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 25px;
    height: 56vh;
    align-items: center;
    align-content: center;
  }

  .techs > div img {
    height: 65px;
    width: 65px;
  }

  .techs > div {
    align-items: center;
    margin: 0;
  }
}
